<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZFTabBarDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>914132291E7B69CE00D87108</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9141323D1E7B69CE00D87108</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>914132481E7B69CE00D87108</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
